body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("images/galaxy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: #fffdfd;
    font-family: "Hachi Maru Pop", cursive;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #d5e0fd;
    border: 2px solid #98c0f4a5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5em;
    color: #ec9ef2;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20%;
}

.message {
    margin-top: 20px;
    font-size: 1.5em;
    color: #424141;
    font-family: "Hachi Maru Pop", cursive;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ec9ef2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: "Hachi Maru Pop", cursive;
    font-weight: bold;
}

button:hover {
    background-color: #f1aaf6;
}
